@use "../../../../scss/" as *;

.movieWatch {
  .head-title {
    font-size: 28px;
    font-weight: 700;
  }
  &__mainContent {
    @include flex(flex-start, center);
    margin: 2rem 0;
    gap: 20px;
    .screen {
      width: 80%;
      iframe {
        width: 100%;
        height: 90vh;
      }
    }
    .recomendation {
      width: 20%;
      .randomBox {
        background-color: rgba(255, 255, 255, 0.06);
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 20px;
        h3 {
          font-size: 15px;
          font-weight: 800;
          position: relative;
          padding-bottom: 15px;
          border-bottom: 1px solid grey;

          &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            border-radius: 30px;
            height: 3px;
            width: 50px;
            background-color: rgba(255, 0, 0, 0.8);
          }
        }
        p {
          margin: 20px 0;
          font-size: 15px;
          line-height: 25px;
        }
        button {
          padding: 10px 20px;
          color: #fff;
          font-weight: 600;
          font-size: 14px;
          background-color: $main-color;
          border: none;
          border-radius: 5px;
          transition: 0.3s ease;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      &__movies {
        &__movieBox {
          @include flex(flex-start, flex-start);
          gap: 10px;
          margin-bottom: 20px;
          .img {
            flex: 1;
            padding-top: 48%;
            width: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 5px;
            position: relative;
            transition: 0.5s ease;

            .play {
              position: absolute;
              background-color: transparent;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%) scale(0);
              color: #fff;
              border-radius: 50%;
              padding: 10px;
              transition: 0.3s ease;
              border-color: #fff;
            }
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: $black;
              opacity: 0;
              transition: opacity 0.3s ease;
            }
            &:hover::before {
              opacity: 0.6;
            }

            &:hover .play {
              transform: translate(-50%, -50%) scale(0.9);
            }
          }
          .info {
            flex: 2;
            &__title {
              font-size: 16px;
            }
            &__vote {
              @include flex(center, flex-start);
              gap: 10px;
              font-size: 15px;
              margin: 25px 0;
              color: #b5e745;
            }
            &__date {
              font-size: 15px;
              @include flex(center, flex-start);
              gap: 10px;
            }
          }
        }
      }
    }
  }
}
