@use "../../../../scss/" as *;

.movieWatch {
  .head-title {
    font-size: 28px;
    font-weight: 700;
  }
  &__mainContent {
    @include flex(flex-start, center);
    margin: 2rem 0;
    gap: 20px;
    .screen {
      width: 80%;
      iframe {
        width: 100%;
        height: 90vh;
      }
    }
    .sideBar {
      width: 20%;
    }
  }
}
