@use "../../scss/" as *;

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.movie-grid-loadmore {
  text-align: center;
  margin: 30px 0;
}

.movie-search {
  margin-bottom: 1.5rem;
  .small {
    margin-left: 1rem;
  }
}

.noMovies {
  div {
    @include flex(center, center);
    flex-direction: column;
    gap: 20px;
  }

  h2 {
    text-align: center;
  }
  img {
    width: 400px;
    margin-bottom: 20px;
  }
}
