@use "../../scss/" as *;

@keyframes drop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes show {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.hero-slide {
  margin-bottom: 3rem;
}

.hero-slide__item {
  width: 100%;
  padding: 9rem 0;
  background-position: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include overlay();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
  }

  &__content {
    @include flex(center, center);
    gap: 10px;
    &__info {
      width: 55%;
      padding: 0 3rem;
      position: relative;
      .title {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;

        @include tablet {
          font-size: 3rem;
        }
      }
      .overview {
        margin: 2rem 0;
        font-weight: 600;
      }

      .btns > * ~ * {
        margin-left: 1rem;
      }
    }

    &__poster {
      position: relative;
      flex: 1;
      @include flex(center, center);

      img {
        width: 340px;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
      }

      @include tablet {
        display: none;
      }
    }
  }

  &.active > &__content > &__content__poster {
    img {
      animation: show 0.8s ease;
    }
  }

  &.active > &__content > &__content__info {
    .btns,
    .title,
    .overview {
      animation: drop 0.7s ease;
    }

    .title {
      animation-duration: 0.5s, 0.5s;
    }

    .overview {
      animation-duration: 0.9s, 0.9s;
    }

    .btns {
      animation-duration: 1.2s, 1.2s;
    }
  }
}
