@use "../../scss/" as *;

.banner {
  height: 50vh;
  background-position: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  @include mobile {
    height: 40vh;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include overlay();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
  }
}

.movie-content {
  @include flex(flex-start, flex-start);
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  position: relative;
  padding: 0 2rem;

  &__poster {
    flex: 1;

    &__img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: $border-radius;
      padding-top: 165%;
      position: relative;
      &:hover {
        opacity: 0.7;
      }

      .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        @include flex(center, center);
      }

      &:hover .btn {
        transform: translate(-50%, -50%) scale(1.2);

        i {
          transform: scale(1.8);
        }
      }
    }

    @include mobile {
      display: none;
    }
  }

  &__info {
    width: 70%;
    padding-left: 2rem;
    position: relative;

    @include mobile {
      width: 100%;
      padding-left: 0;
    }

    & > * {
      margin-bottom: 1.7rem;
    }

    .title {
      h1 {
        font-size: 3.5rem;
        font-weight: 700;
        @include mobile {
          font-size: 5rem;
        }

        @include tablet {
          font-size: 5rem;
        }
      }
    }
    .genres {
      & > * ~ * {
        margin-left: 0.5rem;
      }
      &__item {
        border: 2px solid $white;
        padding: 0.5rem 1.2rem;
        font-size: 0.8rem;
        font-weight: 600;
        background-color: $body-bg;
        border-radius: $border-radius;
      }
    }
    .overview {
      p {
        @include mobile {
          font-size: 1.3rem;
          line-height: 2.4rem;
        }
      }
    }
  }
}

.casts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  &__item {
    &__img {
      margin: 0.4rem 0;
      padding-top: 150px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 5px;
    }
  }
}

.movie-videos {
  @include flex(center, center);
  flex-direction: column;
  .video {
    width: 85%;
    margin-bottom: 3rem;
    &__title {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      font-weight: 700;
      @include mobile {
        font-size: 2rem;
      }
    }
    &__content {
      height: 90vh;
      @include mobile {
        height: 40vh;
      }
    }
  }
}
