@use "../../../../scss/" as *;

.tvWatch {
  .head-title {
    font-size: 28px;
    font-weight: 700;
  }
  &__mainContent {
    @include flex(flex-start, center);
    margin: 2rem 0;
    gap: 20px;
    .main {
      width: 80%;
      iframe {
        width: 100%;
        height: 90vh;
      }

      .detail-movie {
        @include flex(flex-start, center);
        gap: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
        &__img {
          padding-top: 400px;
          background-position: top;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 10px;
          width: 22%;
        }
        &__info {
          width: 78%;
          .detail-title {
            font-size: 50px;
            font-weight: 700;
          }
          .detail-genres {
            @include flex(center, flex-start);
            gap: 20px;
            margin-top: 10px;
            p {
              border: 2px solid $white;
              padding: 0.5rem 1.2rem;
              font-size: 0.8rem;
              font-weight: 600;
              background-color: $body-bg;
              border-radius: $border-radius;
            }
          }
          .detail-overview {
            font-size: 20px;
            margin: 20px 0;
          }
          .detail-voteadate {
            @include flex(Center, flex-start);
            gap: 40px;
            font-size: 20px;
            span {
              @include flex(Center, flex-start);
              gap: 10px;
            }
          }
          .detail-eps {
            font-size: 20px;
            margin-top: 20px;
          }
        }
      }

      .season {
        margin: 20px 0;
        padding: 10px 15px;
        background-color: transparent;
        color: #fff;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        font-size: 18px;
        outline: none;
        option {
          background-color: black;
          margin-top: 20px;
          border-radius: 10px;
        }
      }

      .swiper-wrapper {
        margin-top: 10px;

        .episode-box {
          .img-wrapper {
            opacity: 1;
            transition: 0.3s ease;
            position: relative;
            &:hover {
              opacity: 0.6;
            }

            .episode-img {
              cursor: pointer;
              height: 150px;
              width: 255px;
              object-fit: cover;
              position: relative;
              border-radius: 4px;
            }
          }

          .episode-detail {
            margin-top: 5px;
            font-weight: 600;
          }
        }
      }
    }
    .sideBar {
      width: 20%;
    }
  }
}
